CREATE DATABASE [DbApiExemploAutenticacao]

GO
USE [DbApiExemploAutenticacao]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [DbApiExemploAutenticacao] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
